
.active-step {
    color:green;
}



.button-2{
    -webkit-text-size-adjust: none;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
    cursor: pointer;
    border: none;
    height: 45px;
    line-height: 45px;
    background-color: #ff8113;
    color: white;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all 0.1s ease;
    position: relative;
    display: inline-block;
    margin: 0 7px 0 0;
    padding: 0 25px;
    width: auto;
}

.cart-footer{
    -webkit-text-size-adjust: none;
    font: normal 12px 'Roboto', sans-serif;
    color: #000;
    text-align: left;
    margin: 0;
    outline: none;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    float: right;
    clear: right;
    width: calc(30% - 30px);
}
.totals{
    -webkit-text-size-adjust: none;
    font: normal 12px 'Roboto', sans-serif;
    color: #000;
    text-align: left;
    margin-left: 5px;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
    border-radius: 3px;
    padding: 50px 20px;
    background-color: #F6F6F6;
    display: block;
    width: 100%;
}

.cart-options{
    -webkit-text-size-adjust: none;
    font: normal 12px 'Roboto', sans-serif;
    color: #000;
    outline: none;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    margin: 0;
    text-align: right;
    display: block;
    width: 100%;
}
.checkout-attributes{
    -webkit-text-size-adjust: none;
    font: normal 12px 'Roboto', sans-serif;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
    margin-top: 0;
    margin-left: 5px;
    border-radius: 3px;
    background-color: #F6F6F6;
    font-size: 15px;
    color: #444;
    display: block;
    width: 100%;
    margin-bottom: 2px;
    text-align: left;
    padding: 40px;
}

.total-info{
    -webkit-text-size-adjust: none;
    font: normal 12px 'Roboto', sans-serif;
    color: #000;
    text-align: left;
    outline: none;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    max-width: 400px;
    margin-left: auto !important;
    margin-right: auto !important;
    display: block;
    width: 100%;
    margin: 0 0 30px;
}

.cart-total{
    -webkit-text-size-adjust: none;
    font: normal 12px 'Roboto', sans-serif;
    color: #000;
    text-align: left;
    margin: 0;
    outline: none;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    width: 100%;
    border-collapse: collapse;
}

.order-total{
    -webkit-text-size-adjust: none;
    font: normal 12px 'Roboto', sans-serif;
    text-align: left;
    border-collapse: collapse;
    margin: 0;
    outline: none;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-size: 16px;
    color: #f86f4d;
}

.checkout-buttons{
    -webkit-text-size-adjust: none;
    font: normal 12px 'Roboto', sans-serif;
    color: #000;
    text-align: left;
    margin: 0;
    outline: none;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    max-width: 400px;
    margin-left: auto !important;
    margin-right: auto !important;
    display: block;
    width: 100%;
    
}

.button-1{
    -webkit-text-size-adjust: none;
    margin: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
    cursor: pointer;
    border: none;
    height: 45px;
    padding: 0 25px;
    border-radius: 3px;
    color: #FFF;
    font-weight: 700;
    text-transform: uppercase;
    transition: all 0.2s ease;
    background-color: #ff8113;
    width: 100%;
    font-size: 15px;
}

.promoInput{
    -webkit-text-size-adjust: none;
    font: normal 12px 'Roboto', sans-serif;
    font-size: 15px;
    color: #444;
    text-align: left;
    outline: none;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    margin: 0 0 15px;
    margin-bottom: 0;
}

.cart-total-left{
    -webkit-text-size-adjust: none;
    font: normal 12px 'Roboto', sans-serif;
    border-collapse: collapse;
    margin: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
    text-align: left;
    width: 50%;
    padding: 7px 5px;
    font-size: 16px;
    color: #444;
    font-weight: 400;
}

.cart-total-right{
    -webkit-text-size-adjust: none;
    font: normal 12px 'Roboto', sans-serif;
    border-collapse: collapse;
    margin: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
    text-align: right;
    width: 50%;
    padding: 7px 5px;
    font-size: 16px;
    color: #444;
    font-weight: 400;
}