<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <link rel="stylesheet" href="./style/about.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
    />
  </head>
  <body>
    <!-- banner image -->
    <div id="bannerimage">
      <div class="hero-text">
        <h1>About Us</h1>
      </div>
    </div>

    <!-- About -->
    <section id="about">
      <div class="container">
        <div class="row">
          <div class="about-content">
            WELCOME TO PETS! <br />
            Being a pet owner is one of the best things in the world. And we
            understand because we're pet parents too. In fact, PetsJo.com was
            founded by people who love helping pets. We wanted to make the
            process of finding food, treats and all that good stuff easy to
            find--and deliver it straight to your doorstep. Headquartered in
            Amman, Jordan dedicated staff are committed to providing the kind of
            service that makes you go "wow." dedicated staff can ship the
            freshest, highest quality products--and fast. Our guys in customer
            service are here day and night to help. Bottom line is, we're here
            to make pet happiness happen. Pets Jo- Pet Food Delivery
          </div>
        </div>
        <br /><br /><br />
        <!-- meet our team -->
        <div class="row">
          <div class="title-box">
            <h1>Meet our team</h1>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus,
              ipsa.
            </p>
          </div>
          <div class="team-row">
            <div class="profile-box">
              <h4>
                Malek <br />
                Dousoki
              </h4>
              <small>Scrum Master</small>
              <img src="https://randomuser.me/api/portraits/men/11.jpg" />
              <div class="social-box">
                <i class="fa-brands fa-square-github"></i>
                <i class="fa-brands fa-linkedin"></i>
              </div>
              <p>Lorem ipsum dolor sit amet consectetur</p>
            </div>
            <div class="profile-box">
              <h4>
                Ahmad <br />
                Alawneh
              </h4>
              <small>Product Owner</small>
              <img src="https://randomuser.me/api/portraits/men/11.jpg" />
              <div class="social-box">
                <i class="fa-brands fa-square-github"></i>
                <i class="fa-brands fa-linkedin"></i>
              </div>
              <p>Lorem ipsum dolor sit amet consectetur</p>
            </div>
            <div class="profile-box">
              <h4>
                Dana <br />
                Alomari
              </h4>
              <small>Member</small>
              <img src="https://randomuser.me/api/portraits/women/11.jpg" />
              <div class="social-box">
                <i class="fa-brands fa-square-github"></i>
                <i class="fa-brands fa-linkedin"></i>
              </div>
              <p>Lorem ipsum dolor sit amet consectetur</p>
            </div>
            <div class="profile-box">
              <h4>
                Khalid <br />
                Alkarmy
              </h4>
              <small>Member</small>
              <img src="https://randomuser.me/api/portraits/men/11.jpg" />
              <div class="social-box">
                <i class="fa-brands fa-square-github"></i>
                <i class="fa-brands fa-linkedin"></i>
              </div>
              <p>Lorem ipsum dolor sit amet consectetur</p>
            </div>
            <div class="profile-box">
              <h4>
                Rama <br />
                Jaradat
              </h4>
              <small>Member</small>
              <img src="https://randomuser.me/api/portraits/women/11.jpg" />
              <div class="social-box">
                <i class="fa-brands fa-square-github"></i>
                <i class="fa-brands fa-linkedin"></i>
              </div>
              <p>Lorem ipsum dolor sit amet consectetur</p>
            </div>
          </div>
        </div>
        <br />
        <br />
        <br />
        <!-- logo slider -->
        <div class="row">
          <div class="slider">
            <div class="slide-track">
              <div class="slide">
                <img
                  src="./img/0007533_happy-dog_430.png"
                  height="100"
                  width="100"
                />
              </div>
              <div class="slide">
                <img
                  src="./img/0007543_leonardo_430.png"
                  height="100"
                  width="100"
                />
              </div>
              <div class="slide">
                <img
                  src="./img/0007562_linder_430.png"
                  height="100"
                  width="100"
                />
              </div>
              <div class="slide">
                <img
                  src="./img/0007924_butchers_430.jpeg"
                  height="100"
                  width="100"
                />
              </div>
              <div class="slide">
                <img
                  src="./img/0007932_nutra-nuggets_430.jpeg"
                  height="100"
                  width="100"
                />
              </div>
              <div class="slide">
                <img
                  src="./img/0007934_josera_430.png"
                  height="100"
                  width="100"
                />
              </div>
              <div class="slide">
                <img
                  src="./img/0008767_taste-of-the-wild_430.png"
                  height="100"
                  width="100"
                />
              </div>
              <div class="slide">
                <img
                  src="./img/0007532_hartz_430.png"
                  height="100"
                  width="100"
                />
              </div>
              <div class="slide">
                <img
                  src="./img/0007536_tropiclean_430.png"
                  height="100"
                  width="100"
                />
              </div>
              <div class="slide">
                <img
                  src="./img/0008769_monge_430.png"
                  height="100"
                  width="100"
                />
              </div>
              <div class="slide">
                <img
                  src="./img/0008770_purina_430.png"
                  height="100"
                  width="100"
                />
              </div>
              <div class="slide">
                <img
                  src="./img/0007535_kong-active_430.png"
                  height="100"
                  width="100"
                />
              </div>
              <div class="slide">
                <img
                  src="./img/0008768_molly_430.png"
                  height="100"
                  width="100"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <script src="./js/about.js"></script>
  </body>
</html>
