<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link
        href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&amp;subset=cyrillic-ext,greek-ext&amp;display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="./style/cart.css">

    <title>Cart</title>
</head>

<body>
    <header>
        <nav>

        </nav>
    </header>

    <br><br><br>
    <div class="d-flex justify-content-evenly ">
        <i class="fa-solid fa-cart-shopping fa-3x active-step "></i>
        <i class="fa-solid fa-location-dot fa-3x "></i>
        <i class="fa-solid fa-truck fa-3x "></i>
        <i class="fa-solid fa-money-bill fa-3x "></i>
        <i class="fa-solid fa-check fa-3x "></i>
    </div>

    <br><br><br>

    <div class="row gap-1">
        <div class="col-8" style="border: #eeeeee solid 1px; padding-right: 0px;">
            <table class="table">
                <thead style="background-color:#f9f9f9;">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Remove</th>
                        <th scope="col">Image</th>
                        <th scope="col">Product(s)</th>
                        <th scope="col">Qty.</th>
                        <th scope="col">Price</th>
                        <th scope="col">Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td><i class="fa-solid fa-xmark fa-5x" style="color:#eeeeee ;"></i></td>
                        <td><img src="https://www.petsjo.com/images/thumbs/0004482_royal-canin-maxi-puppy-4kg_110.jpeg"
                                class="img-fluid" alt="..."></td>
                        <td>Royal Canin Maxi Puppy 4KG </td>
                        <td style="width: 15%;"> <input type="number" value="1" class="form-control"
                                aria-describedby="inputGroup-sizing-sm"></td>
                        <td>29.99</td>
                        <td>@mdo</td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td><i class="fa-solid fa-xmark fa-5x" style="color:#eeeeee ;"></i></td>
                        <td><img src="https://www.petsjo.com/images/thumbs/0004482_royal-canin-maxi-puppy-4kg_110.jpeg"
                                class="img-fluid" alt="..."></td>
                        <td>Royal Canin Maxi Puppy 4KG </td>
                        <td style="width: 15%;"> <input type="number" value="1" class="form-control"
                                aria-describedby="inputGroup-sizing-sm"></td>
                        <td>29.99</td>
                        <td>@mdo</td>
                    </tr>

                </tbody>
            </table>
            <div class="d-flex justify-content-between">
                <button type="button" value="Clear shopping cart" class="button-2 "
                    style="margin-left:10px ;"><span>Clear shopping cart</span></button>
                <button type="submit" name="" class="button-2" style="margin-right:10px ;">Add more
                    products</button>
            </div>
        </div>


        <div class="cart-footer col-3">
            <div class="cart-collaterals">
            </div>
            <div class="cart-options">
                <div class="checkout-attributes">
                    <dl style="text-align: center; margin-bottom:-20px ;">
                        <dt id="promoInput" style=" margin-bottom: 15px;">
                            <label class="text-prompt"> Promo Code </label>
                        </dt>
                        <dd id="promoInput"><input name="checkout_attribute_5" type="text" class="textbox"
                                id="checkout_attribute_5"></dd>
                    </dl>
                </div>
            </div>
            <div class="totals">
                <div class="total-info">
                    <table class="cart-total">
                        <tbody>
                            <tr class="order-subtotal">
                                <td class="cart-total-left">
                                    <label>Sub-Total:</label>
                                </td>
                                <td class="cart-total-right">
                                    <span class="value-summary">د.ا.‏ 50.980</span>
                                </td>
                            </tr>
                            <tr class="shipping-cost">
                                <td class="cart-total-left">
                                    <label>Delivery:</label>
                                </td>
                                <td class="cart-total-right">
                                    <span>Free</span>
                                </td>
                            </tr>
                            <tr class="tax-value">
                                <td class="cart-total-left">
                                    <label>Discount:</label>
                                </td>
                                <td class="cart-total-right">
                                    <span class="value-summary">د.ا.‏ 0.000</span>
                                </td>
                            </tr>
                            <tr class="order-total">
                                <td class="cart-total-left">
                                    <label>Total:</label>
                                </td>
                                <td class="cart-total-right">
                                    <span class="value-summary"><strong>د.ا.‏ 50.980</strong></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="checkout-buttons">
                    <button type="submit" id="checkout" name="checkout" value="checkout"
                        class="button-1 checkout-button"> Checkout </button>
                </div>
                <div class="addon-buttons"></div>
            </div>
        </div>
    </div>


    <footer>

    </footer>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>
    <script src="./js/cart.js"></script>
</body>

</html>