<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- adding the sign in with google min 11 video -->
    <meta
      name="google-signin-client_id"
      content="532602812897-vom2g5pl1anogecntne2u29b6cnbvc3b.apps.googleusercontent.com"
    />
    <title>Login/Register</title>
    <link
      rel="stylesheet"
      href="../view/style/login.css"
      type="text/css"
      media="all"
    />
  </head>

  <body>
    <header
      style="
        background-color: gray;
        position: relative;
        top: -34px;
        margin-top: 0%;
        width: 100%;
      "
    >
      <!-- id to get the anchor tag here we need it in the nav -->
      <h2 id="log-in">Navigation Bar</h2>
    </header>

    <div class="container" id="container">
      <div class="form-container sign-up-container">
        <form action="#">
          <h1>Create Account</h1>
          <div class="social-container">
            <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
            <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
            <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
          </div>
          <span>or use your email for registration</span>
          <input type="text" placeholder="Name" />
          <input type="email" placeholder="Email" />
          <input type="password" placeholder="Password" />
          <button style="background-color: #5c5d5b; border-color: white">
            Sign Up
          </button>
        </form>
      </div>
      <div class="form-container sign-in-container">
        <form action="#">
          <h1>Sign in</h1>
          <div class="social-container">
            <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
            <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
            <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
          </div>
          <span>or use your account</span>
          <input type="email" placeholder="Email" />
          <input type="password" placeholder="Password" />
          <a href="#">Forgot your password?</a>
          <button
            style="
              background-color: #5c5d5b;
              cursor: pointer;
              border-color: white;
            "
          >
            Sign In
          </button>
        </form>
      </div>
      <div class="overlay-container">
        <div class="overlay">
          <div class="welcome overlay-panel overlay-left">
            <h1 style="margin-top: 8%">Welcome Back!</h1>
            <p>
              To keep connected with us please login with your personal info
            </p>
            <button
              style="
                margin-top: 0;
                font-weight: 900;
                color: black;
                cursor: pointer;
              "
              class="ghost"
              id="signIn"
            >
              Sign In
            </button>
          </div>
          <div class="hello overlay-panel overlay-right">
            <h1>Hello, Friend!</h1>
            <p>Enter your personal details and start journey with us</p>
            <button
              style="
                margin-top: 25%;
                font-weight: 900;
                color: #000;
                cursor: pointer;
              "
              class="ghost"
              id="signUp"
            >
              Sign Up
            </button>
          </div>
        </div>
      </div>

      <!-- this is the second form for the responsive under 520px -->
      <div class="form-container resp-log-in">
        <form action="#">
          <h1>Sign in</h1>
          <div class="social-container">
            <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
            <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
            <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
          </div>
          <span>or use your account</span>
          <input type="email" placeholder="Email" />
          <input type="password" placeholder="Password" />
          <a href="#">Forgot your password?</a>
          <button>Sign In</button>
          <p style="font-size: small">
            Don't have an account?<span
              ><a style="color: blue; font-weight: 500" href="#sign-up"
                >Create new</a
              ></span
            >
          </p>
        </form>
        <div style="height: 150px">
          <hr style="margin: 50% 0 50% 0" />
        </div>
      </div>

      <!-- this is the form for resposive under 520px -->
      <div id="sign-up" class="form-container resp-sign-up">
        <form action="#">
          <h1>Create Account</h1>
          <div class="social-container">
            <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
            <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
            <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
          </div>
          <span>or use your email for registration</span>
          <input type="text" placeholder="Name" />
          <input type="email" placeholder="Email" />
          <input type="password" placeholder="Password" />
          <button>Sign Up</button>
          <p style="font-size: small">
            Already have account ?
            <span><a style="color: blue" href="#log-in">Login</a></span>
          </p>
        </form>
      </div>
    </div>

    <div class="g-signin2" data-onsuccess="onSignIn"></div>

    <footer></footer>

    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="./js/login.js"></script>
  </body>
</html>
